* {
    padding: 0px;
    margin: 0px;
    font-family: arial;
}

.navbar {
    background-image: url(netflix2.jpg);
    background-size: cover;
    
   
}
.nav-1st {
    height:650px;
    width: 100%;
    background-color: rgba(0,0,0,0.68);

}
.nav-2nd {
    height:80px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo {
    background-image: url(net4.png);
    background-size: cover;
    height:40px;
    width:150px;
    /* margin:25px;*/
    margin-left:80px;
    padding:5px;
    margin-top:20px;
}
.nav-space {
    width:550px;
}
.nav-option{
    height:30px;
    width:120px;
    border:0.5px solid white;
    border-radius: 6%;
    background-color: rgba(0,0,0,0.68);
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:20px;
    margin-top:20px;
}
.button {
    height:32px;
    width:80px;
    color:white;
    font-weight:700;
    background-color: red;
    border: none;
    border-radius:6%;
    margin-right:200px;
    margin-top:20px;
}
.nav-3rd {
    height:420px;
    width:100%;
    color:white;
     margin-top:150px;
    /*margin-left:400px; */
    
    
} 
.nav-3rd h1{
    font-size:3.4rem;
    display:flex;
    justify-content: center;
    
}
.nav-3rd p {
    font-weight:700;
    display:flex;
    justify-content: center;
    margin-top:10px;
}
.nav-3rd pre{
    font-size:0.8rem;
    display:flex;
    justify-content: center;
    margin-top:30px;
   
}
.nav-4th {
    display:flex;
    margin:20px; 
    display:flex;
    justify-content: center;
    
    
}
.email {
    height:55px;
    width:300px;
    border:1px solid white;
    background-color: #222;
    font-size:0.8rem;
    font-weight: 700;
    display:flex;
    align-items: center;
    border-radius:5px;
}
.nav-4th button {
    width:180px;
    background-color: red;
    color:white;
    font-weight:700;
    font-size:1rem;
    border:none;
    border-radius:5px;
    margin-left:20px;
}
.email p{
    margin-left:10px;
}
.back {
    height:30px;
    background-color: black;
}
.movies-section {
    height: 350px;
    width: 100%;
    background-color: black;
    color: white;

}
h2 {
    margin-left: 100px;
}
.box-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.box {
    height: 220px;
    width: 160px;
    /* border: 1px solid white; */
    margin-left: 40px;
    /* padding:10px; */
    
}
.box1 { 
    background-image: url(movies3.jpg);
    background-size: cover;
}
.box2 { 
    background-image: url(movies4.jpg);
    background-size: cover;
}
.box3 { 
    background-image: url(movies5.jpg);
    background-size: cover;
}
.box4 { 
    background-image: url(movies6.jpg);
    background-size: cover;
}
.box5 { 
    background-image: url(movies7.jpg);
    background-size: cover;
}
.box6 { 
    background-image: url(movies8.jpg);
    background-size: cover;
}
.box:hover {
    border: 1px solid white;
}
.section-3rd {
    height: 380px;
    background-color: black;
    color: white;
}
.Boxes {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.Box {
    height: 275px;
    width: 275px;
    border:1px solid white;
    background: linear-gradient(150deg,#2b1b5f,#c75fb0);
    margin-left: 15px;
    border-radius: 7%;
    border: none;
}
.Box1 pre {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 25px;
}
.Box1 p {
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 30px;
}
.Box2 pre {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 25px;
}
.Box2 p {
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 30px;
}
.Box3 pre {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 25px;
}
.Box3 p {
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 30px;
}
.Box4 pre {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 25px;
}
.Box4 p {
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 30px;
}
.summary-section {
    height: 655px;
    background-color: black;
    color: white;

}
.margin {
    margin-top: 30px;
}
.summary {
    height: 80px;
    width: 1130px;
    background-color: #222;
    margin-left: 115px;
    margin-top: 10px;
}
.summary summary{
    font-size: 1.3rem;
    margin-left: 20px;
}
.summary p {
    font-weight: 700;
    margin-top: 10px;
    margin-left: 20px;
}
.summary:hover{
    background-color: #5a5a5a;
}
.section-5th {
    height: 150px;
    background-color: black;
    color: white;
}
.section-5th p{
    font-size: 0.86rem;
    font-weight: 700;
    margin-left:430px;
}
.section-6th {
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top:20px;
}
.address{
    width: 520px;
    font-weight:700;
    background: #171717;
    color: white;
    border: none;
    border-radius: 4%;
    
}
.section-6th button {
    width: 200px;
    background-color: red;
    color: white;
    font-size: 1.4rem;
    border: none;
    border-radius: 4%;
    margin-left: 10px;
}
.hover:hover {
    background-color: rgb(203, 11, 11);
}

.footer-section {
    height: 300px;
    background-color: black;
    color: #bfbebe;
}
.footer-section p{
    margin-left: 180px;
}
.footer-1st{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
ul a {
    display:block;
    color: #bfbebe;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 10px;
}
a:hover{
    text-decoration: underline;
}
.footer-final {
    display: flex;
    justify-content: center;
}
.footer-final p {
    font-size: 0.8rem;
    margin-top: 70px;
}
